<div class="modal fade" id="editPopup" tabindex="-1" role="dialog" aria-labelledby="editPopupLabel" aria-hidden="true"
    [ngClass]="{'show': showModal}" [style.display]="showModal ? 'block' : 'none'" (click)="onBackdropClick($event)">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header flex justify-content-between">
                <h5 class="modal-title" id="editPopupLabel">{{ isEdit ? 'Edit Event' : 'Add Event' }}</h5>
                <button type="button" class="btn btn-danger" *ngIf="isEdit" (click)="onDelete()">Delete</button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="form-group">
                        <div class="d-flex justify-content-between align-items-center">
                            <label for="type">Event Name:</label>
                            <div *ngIf="form.get('type')?.invalid && (form.get('type')?.dirty || form.get('type')?.touched)">
                                <small class="text-danger" *ngIf="form.get('type')?.errors?.['required']">Event Name is required.</small>
                            </div>
                        </div>
                        <select (ngModelChange)="objChanged($event)" class="form-control" id="type" formControlName="type">
                            <option value="">Select Event</option>
                            <option *ngFor="let event of eventTypes" [value]="event">{{ event }}</option>
                        </select>
                    </div>
                    <ng-container *ngFor="let field of commonFields">
                        <div class="form-group">
                            <div class="d-flex justify-content-between align-items-center">
                                <label [for]="field">{{ field | titlecase }}:</label>
                                <div *ngIf="form.get(field)?.invalid && (form.get(field)?.dirty || form.get(field)?.touched)"
                                    class="ml-2">
                                    <small class="text-danger" *ngIf="form.get(field)?.errors?.['required']">This field
                                        is required.</small>
                                </div>
                            </div>
                            <ng-container [ngSwitch]="getFieldType(field)">
                                <input *ngSwitchCase="'text'" class="form-control" [id]="field"
                                    [formControlName]="field" placeholder="Enter {{field}}" />
                                <input *ngSwitchCase="'number'" type="number" class="form-control" [id]="field"
                                    [formControlName]="field" placeholder="Enter {{field}}" />
                                <input *ngSwitchCase="'date'" type="date" class="form-control" [id]="field"
                                    [formControlName]="field" />
                                <div *ngSwitchCase="'checkbox'" class="checkbox-container">
                                    <input type="checkbox" [id]="field" [formControlName]="field" />
                                </div>
                            </ng-container>

                        </div>
                    </ng-container>
                    <div>
                        <div *ngFor="let display of displayArr">
                            <div *ngIf="display.key">
                                <label [for]="display.key">{{ display.key }}:</label>

                                <ng-container [ngSwitch]="getFieldType(display.key)">
                                    <input *ngSwitchCase="'text'" [id]="display.key" [formControlName]="display.key"
                                        placeholder="Enter {{display.key}}" />
                                    <input *ngSwitchCase="'number'" type="number" [id]="display.key"
                                        [formControlName]="display.key" placeholder="Enter {{display.key}}" />
                                    <input *ngSwitchCase="'date'" type="date" [id]="display.key"
                                        [formControlName]="display.key" />
                                    <input *ngSwitchCase="'checkbox'" type="checkbox" [id]="display.key"
                                        [formControlName]="display.key" />
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="onSave()">Save</button>
            </div>
        </div>
    </div>
</div>